*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(233, 180, 111);
    height: 50px;
    

}
nav h1{
    margin-left: 150px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    text-decoration: none;
    padding-left: 100px;
    list-style: none;
    
    
}

main{
    display: flex;
    flex-direction: row;
    float: left;
}
.left{
    padding-top: 200px;
    padding-left: 100px;
    height: auto;
    
}
.left h1{
    font-size: 50px;
    color: #52d4c9;
}
.left p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.left button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    
}

.right{
    padding-left: 150px;
    padding-top: 100px;
}
.right div{
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: row;
    
   
}
.right div img{
    height: 200px;
    width: 300px;
   
}
.right img{
    height: 200px;
    width: 600px;
}


